<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gezhii.fitgroup">


    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_img"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.GuideActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.QAnswerActivity" />
        <activity android:name=".ui.activity.RegisterAndLoginActivity" />
        <activity android:name=".ui.activity.MobileLoginActivity" />
        <activity android:name=".ui.activity.HeadProtraitAndNicknameActivity" />

        <activity android:name=".tools.qrcode.scanner.CaptureActivity" />


        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageList"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>

        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageDetail"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>

        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageDown"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>

        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageMyCollection"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>

        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageSetting"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>

        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiDetail"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>

        <!--<activity-->
        <!--android:name="com.mob.tools.MobUIShell"-->
        <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
        <!--android:windowSoftInputMode="stateHidden|adjustResize" />-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="gezhiiycl#weyoung" />
        <!-- 声明sdk所需的service SDK核心功能-->
        <service android:name="com.easemob.chat.EMChatService" />
        <service android:name=".step.StepService" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5620a2bd67e58e7c6f0024da" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="gezhii_no_360_shell" />


    </application>

</manifest>
